
<h1>Sell Products here</h1>
<%= render "form" %>
<br>
<br>
<script type="text/javascript">
        $(function() {

            Timers.init();

        });
    </script>
<p>
  <div data-countdown-until="<%= 10.days.from_now %>"></div>
</p>




