// Place all the styles related to the admin_controller controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pagination{
     width: 70%;
     padding-left: 30px;
     float:center;
}
.previous_page{
    padding-left:200px;
}