<div class="main_frame">
	 <div class="container">
	    <div class="alert alert-info logoutinfo">
		  <%= params[:notice]%>&nbsp;<%= link_to "Please Click here!", welcome_index_path %></a> to login 
		</div>
	 </div>
</div>
