<h1>Sell your Products here</h1>
<script type="text/javascript">
        $(function() {

            Timers.init();

        });
    </script>
<p>
  <div data-countdown-until="<%= 10.days.from_now %>"></div>
</p>