<div class="main_frame">
	 <div class="container">
	   
	    <div class="alert alert-info logoutinfo">
		  <strong>Info!</strong> You have been logged out successfully !!.<%= link_to "Please Click here!", welcome_index_path %></a> to login again
		</div>
	 
	 </div>
	  
</div>